<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="MongoDB_test" connectionString="mongodb://121.199.17.22:27019/" />
    <!--<add name="MongoDB_MallcooCode" connectionString="mongodb://42.120.7.15:27017,42.120.7.149:27017,121.199.17.22:27017/?slaveOk=true" />-->

  </connectionStrings>
</configuration>